<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.providers.settings.overlay.device">

    <overlay
        android:targetPackage="com.android.providers.settings"
        android:priority="100"
        android:isStatic="true" />
</manifest>
